// Primary Colors

$primary-color_one: #223843;
$primary-color_two: #EFF1F3;
$primary-color_three: #B0B2B8;
$primary-color_four: #EFFFFA;
$primary-color_five: #D77A61;

// Genre box colors

$genre-one: #1C77C3;
$genre-two: #39A9DB;
$genre-three: #40BCD8;
$genre-four: #F39237;
$genre-five: #D63230;
$genre-six: #C7F9CC;
$genre-seven: #20FC8F;
$genre-eight: #EEB902;

//box colors

$box-shadow-color: #b9aa92;
$box-shadow-color-blue: #40d857;
$box-shadow-color-yellow: #9302ee;