@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.game {
  @include input-container;
  padding-top: 1rem;
  margin-top: 3rem;
  width: 90%;
  &__title{
    font-size: 2.5rem;
    text-align: center;
  }
  &-banner {
    height: 100px;
    display: flex;
    &__genres{
        margin: 1rem 0 2rem;
        display: flex;
        flex-wrap: wrap;
    }
  }
  &-body {
    display: flex;
    padding-bottom: 2rem;
    border-top: 2px solid $primary-color-one;
  }
  &-cover {
    height: 250px;
    width: 200px;
    border-radius: 10px;
    margin-top: 1.25rem;
  }
  &-info {
    padding: 1rem 2rem;
    &__additional{
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__description{
        margin: 0.5rem 0 1rem;
    }
    &__rating{
      @include rating;
    }
  }
  &__buttons{
    display: flex;
    gap: 1rem;
  }
  &__button{
    display: flex;
    align-items: center;
    gap: 0.25rem;
    width: 100px;
    padding: 0.25rem 1rem;
    border-radius: 10px;
    box-shadow: 0 3px 1px black;
    &:active{
      box-shadow: none;
      translate: 0 3px;
    }
    &--green{
      background-color: rgb(129, 253, 129);
      translate: 0 2px;
      box-shadow: 0 1px 1px rgba(5, 123, 5, 0.542);
    }
    &--checkmark{
      width: 20px;
    }
    &--youtube{
      width: 110px;
    }
    &--youtube-logo{
      width: 30px;
    }
  }
  &-screenshots {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
}
