@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

.login{
    @include input-container;
    display: flex;
    flex-direction: column;
    margin-top: 3rem;

    &__form{
        display: flex;
        flex-direction: column;
        margin: 1rem auto;
    }
    &__label{
        margin-bottom: 0.25rem;
    }
    &__input{
        margin-bottom: 1rem;
    }
    &__button{
        @include button-submit;
        padding: 0.5rem 1rem;
    }
}