.profile-game{
    display: flex;
    text-align: left;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 20px;
    border: none;
    box-shadow: 3px 3px 5px rgb(254, 60, 60);
    &:hover{
        translate: -5px -5px;
        box-shadow: 8px 8px 5px rgb(254, 60, 60);
    }
    &:active{
        translate: 2px 2px;
        box-shadow: 1px 1px 10px rgb(254, 60, 60);
    }
    &__image{
        min-width: 80px;
        height: 100px;
    }
    &__title{

    }
}