.games-form{
    &__form{
        display: flex;
        margin: 1rem 0;
    }
    &__gameInput{
        display: block;
        margin: 1rem 0;
    }

    &__buttons{
        width: 100%;
        display: flex;
        justify-content: right;
    }

    &__combobox{
        overflow: hidden;
        border: 1px solid black;
        padding: 1rem;
    }
}