.games-form{
    &__form{
        display: flex;
        margin-bottom: 1rem;
    }
    &__input{
        display: block;
        width: 250px;
        padding: 1rem 2rem;
        border-radius: 10px;
        box-shadow: 5px 5px black;
        background-color: white;
        &:disabled{
            box-shadow: none;
            translate: 5px 5px;
        }
    }
}