@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

*{
    font-family: $primary-font;
}

.main{
    gap: 2rem;
    height: 100vh;
}

.favourite{
    min-height: 500px;
    width: 600px;
    margin: 5rem auto;
    border: 1px solid red;
    border-radius: 10px 40px;
    padding: 2rem 3rem;
    &__inputs{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    &__header{
        text-align: center;
        margin-bottom: 0.5rem;
    }
}

.recommend-button{
    @include button-submit;
}