@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;

*{
    font-family: $primary-font;
}

.main{
    gap: 2rem;
    background-color: $primary-color_four;
    &__button{
        @include button;
        font-family: $game-font;
        color: black;
        margin: 4rem auto 0;
        display: block;
        width: 400px;
    }
}

.favourite{
    @include input-container;

    &__inputs{
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
    &__header{
        font-family: $game-font;
        font-size: 1.5rem;
        text-align: center;
        margin-bottom: 1rem;
    }
}

.recommend-button{
    @include button-submit;
    margin-left: 0.25rem;
    font-weight: 700;
}